<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem" alt=""> 
        <!-- <img src = "/assets/monitor-1.jpg" alt="">  -->   
    </div>
    <div class="product-description__container">
        <!-- <h2 class="product__name">{{ produto?.descricaoPreco | currency: "BRL"}}</h2> -->
        <h2 class="product__name">{{ produto?.descricao}}</h2> 
        <!-- <h2 class="product__name">Monitor bom</h2> -->
         <h3 class="product__price">{{ produto?.preco | currency: "BRL"}}</h3> 
        <!-- <h3 class="product__price">R$ 1200.00</h3> -->
        <p>Estoque disponível:</p>
        <label>
            Quantidade:
            <input type="number" [(ngModel)]="quantidade" min="1"> 
            <!-- <input type="number"> -->
            unidade(s)
        </label>
        <p class="product__avaiability">
            {{ produto?.quantidadeEstoque }} unidade(s) em estoque 
            <!-- 10 unidade(s) em estoque -->
        </p>
        <button (click)="adicionarAoCarrinho()">Adicionar ao carrinho</button>
    </div>
    
</section>
